.styleContentContainer {
  background-color: white;
  padding: 0.25rem;
  padding-left: 25px;
  margin-top: 28px;
  border-radius: 5px;
  width: 95rem;
}

.styleTwoColumnContainer {
  display: flex;
}

.style25PercentContent {
  flex: 1 0 auto;
}

.style75PercentContent {
  padding: 1rem;
}
